.container{
height:400px;
width:600px;
margin:100px;
position:relative;
	
}


#tabstyle{

	float:left;
	margin:3px;
}

.box1{
background-color:red;
height:398px;	
width:338px;
float:left;
border-style:solid;
border-width:1px;
}

.box2{
background-color:blue;
height:128px;	
width:248px;
margin-bottom:8px;
float:right;
border-style:solid;
border-width:1px;
}


.box3{
background-color:blue;	
height:258px;	
width:248px;
float:right;
border-style:solid;
border-width:1px;	
}

#lblstyle{
float:left;

}

#inputstyle{
float:right;

}

.blck div{
	width:250px; display:inline-block;}

.blck2 label{
	display:inline-block; width:50%;text-align: left;}

.hidden {display:none;}
.show {visibility: visible}
